* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(200, 55%, 33%);
  height: 100vh;
  display: grid;
  place-items: center;
}

button {
  border-radius: 8px;
  border: none;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  padding: 0 20px;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: #ffe3b3;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #4f8fc0;
  position: relative;
}

.navigation {
  height: 50px;
  background-color: #53d2dc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.navigation__left {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.navigation__left h1 {
  margin-right: 20px;
  margin-left: 10px;
}
.navigation__left button {
  background-color: #53d2dc;
  border-left: 1px solid #ffe3b3;
}
.navigation__left button:hover {
  background-color: #ffe3b3;
}
.navigation__right {
  display: flex;
  align-items: center;
}
.navigation__right p {
  font-size: 20px;
  margin-right: 10px;
}
.navigation__right button {
  background-color: #53d2dc;
  border-left: 1px solid #ffe3b3;
}
.navigation__right button:hover {
  background-color: #ffe3b3;
}

.main {
  width: 100%;
  height: 93%;
  position: relative;
}
.main .loading {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -25px;
}
.main__homepage {
  height: 90%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.main__homepage p {
  width: 90%;
}
.main__homepage .homepage-login {
  display: flex;
  gap: 30px;
}
.main__homepage .homepage-login button {
  background-color: #ffe3b3;
}
.main .forms-center {
  display: grid;
  place-items: center;
  height: 100%;
}
.main__registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-self: center;
  align-items: center;
  gap: 10px;
  border: 1px solid hsl(200, 55%, 33%);
  width: 400px;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: hsl(200, 55%, 33%);
  color: white;
  font-size: 20px;
}
.main__registration input,
.main__registration select {
  height: 30px;
  border: #4f8fc0;
  width: 300px;
  padding: 5px;
}
.main__registration input:focus,
.main__registration select:focus {
  border: 2px solid hsl(200, 55%, 33%);
  outline: none;
}
.main__registration button {
  background-color: #ffe3b3;
}
.main__registration div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__registration .registration-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.main__login {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: hsl(200, 55%, 33%);
  border: 1px solid hsl(200, 55%, 33%);
  color: white;
  font-size: 20px;
}
.main__login div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.main__login-inputs {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}
.main__login input {
  height: 30px;
  border: #4f8fc0;
  width: 300px;
  padding: 5px;
}
.main__login input:focus {
  border: 2px solid hsl(200, 55%, 33%);
  outline: none;
}
.main__login button {
  background-color: #ffe3b3;
}
.main__shifts {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.main__shifts .search-shifts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: 30px;
}
.main__shifts .search-shifts div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.main__shifts .search-shifts input {
  padding: 10px;
  width: 150px;
  flex-grow: 1;
}
.main__shifts .search-shifts button {
  width: 150px;
}
.main__shifts table.customTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  color: #000000;
}
.main__shifts table.customTable td,
.main__shifts table.customTable th {
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  padding: 5px;
}
.main__shifts table.customTable tbody tr:hover {
  background-color: #ffe3b3;
}
.main__shifts table.customTable thead {
  background-color: #7ea8f8;
}
.main__shifts table.customTable tfoot {
  background-color: black;
  color: white;
  font-size: 25px;
  font-weight: 800;
}

.footer {
  color: white;
}

.no-shifts-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid hsl(200, 55%, 33%);
  background-color: hsl(200, 55%, 33%);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.no-shifts-card:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.no-shifts-card img {
  display: block;
}

.hidden {
  display: none;
}

@media screen and (max-width: 900px) {
  body {
    padding: 0;
    position: relative;
  }
  .container {
    height: 100vh;
    padding: 0;
    overflow: scroll;
    position: unset;
  }
  .navigation {
    height: -moz-fit-content;
    height: fit-content;
  }
  .navigation__left {
    border-radius: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    background-color: #53d2dc;
    width: 100vw;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    text-align: center;
  }
  .navigation__left div {
    display: flex;
    flex-grow: 1;
    height: -moz-max-content;
    height: max-content;
  }
  .navigation__left div button {
    flex-grow: 1;
  }
  .navigation__right {
    position: absolute;
    display: flex;
    bottom: 0px;
    background-color: #53d2dc;
    width: 100vw;
    z-index: 1;
    height: 55px;
  }
  .navigation__right button {
    flex-grow: 1;
  }
  .main__shifts {
    margin-bottom: 80px;
    padding-top: 50px;
    background-color: #4f8fc0;
  }
  .customTable thead tr th:first-child {
    display: none;
  }
  .customTable tbody tr td:first-child {
    display: none;
  }
  .footer {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */